<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/public/assets/logo.png">
    <link rel="stylesheet" href="/public/style.css">
    <title>Project Detail</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container font-">
                <a class="navbar-brand" href="/"><img src="/public/assets/logo.png" alt="logo"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white ms-2" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white ms-2 text-active" aria-current="page" href="/blog">My Project</a>
                    </li>
                </ul>
                <a href="/contact-me" class="btn text-white justify-content-center" style="background-color: #ff6000;">Contact me</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar --> 

    <!-- PROJECT-DETAIL -->
    <div class="project-detail mt-4">
        <h2>
            Can Remote Desktop Protocol Be Hacked?
        </h2>
        <div class="banner mt-4 d-flex">
            <!-- img -->
            <div class="project-image me-5">
                <img src="/public/assets/blog-img-details.png" alt="">
            </div>

            <div class="project-content">
                <!-- time -->
                <div class="project-duration mt-4 mb-5 ms-5">
                    <h3 class="me-5 mb-3">Duration</h3>
                    <h5 class="duration1 mb-4">
                        <i class="fa-regular fa-calendar"></i> 12 Jan 2021 - 11 Feb 2021
                    </h5>
                    <h5 class="duration2 mt-2">
                        <i class="fa-regular fa-clock"></i> 1 Month
                    </h5>
                </div>
                <!-- desc -->
                <div class="project-tech ms-5">
                    <h3>Technologies</h3>
                    <div class="tech1 d-flex rows">
                        <div class="left">
                            <h5 class="me-5 mb-4 mt-2">
                                <i class="fa-brands fa-python"></i> Phyton 
                            </h5>
                            <h5 class="me-5">
                                <i class="fa-brands fa-react"></i> React Js 
                            </h5>
                        </div>
                        <div class="right">
                            <h5 class="me-5 mb-4 mt-2">
                                <i class="fa-brands fa-node-js"></i> Node Js 
                            </h5>
                            <h5>
                                <i class="fa-brands fa-js"></i> Javascript 
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-content mt-4 mb-4">
            <p style="text-align: justify;">
                Remote Desktop Protocol (RDP) is a kind of software that allows 
                individuals to use a given desktop from a remote location. There are 
                various kinds of RDP software out there, such as ISL Online and Splashtop,
                but all share the same purpose of giving users the ability to view and control 
                desktops without physically interacting with it. This is done using a separate PC or laptop.
                Two elements are needed to use this technology: an RDP server; and an RDP client. 
                The RDP server is whatever device you're trying to access, while the client is 
                the device you'll use to access and control the targeted device.
                While anyone can take advantage of Remote Desktop Protocol, 
                it is most commonly used by employees when they are out of the office and 
                cannot access their work devices directly. For example, during the COVID-19 pandemic, 
                employees who were working from home could access their work computers using RDP software.
            </p>
            <p style="text-align: justify;">
                However, RDP is sometimes confused with cloud computing. While the two technologies do share some similarities, 
                RDP allows you to literally control a device from afar, while cloud computing solely gives you remote access to files or applications.
                Remote Desktop Protocol is an incredibly popular kind of technology, with millions of exposed RDP servers and 
                millions of private servers in existence right now. This makes Remote Desktop Protocol a possible target for cybercriminals.
            </p>
        </div>








    </div>
    <!-- End Project-Detail -->
</body>
</html>